<%- include('Include/_header') %>
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/interIIT"><i class="fas fa-angle-double-left"> </i>All Teams</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark text-center">New Team</h2>
            <span class="text-light">Use the below form to Add new Team</span>
        </div>
        
        <%- include('Include/_form')%>

    </div>
</main>

<%- include('Include/_footer')%>
